.hero {
  padding-bottom: 90px;
  padding: 0 7%;
  margin-top: 5rem;
  &-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2rem;
  }
  &-heading {
    font-size: 45px;
    color: $heading-color;
    line-height: 1.1;
  }
  &-text {
    margin: 35px 0 65px;
    line-height: 2;
  }
  img {
    display: block;
    width: 100%;
  }
  &-image {
    width: 540px;
  }
  &-button {
    display: flex;
    width: 100%;
    background-color: #f53838;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 1000;
    box-shadow: 0px 16px 50px 15px #f7d4d4;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  &-link {
    color: white;
    text-decoration: none;
  }
  &-button:hover {
    background-color: $heading-color;
    box-shadow: 0px 16px 50px 15px rgb(181, 180, 180);
  }
}
@media screen and (max-width:1000px) {
  .hero-container{
    display: flex;
    flex-direction: column-reverse;
    
  }
  .hero-heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .hero-text{
    margin: 0 0 50px;
  }
  .hero-image {
    width: 100%;
  }
  .hero-button {
    display: flex;
    width: 100%;
    background-color: #f53838;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 1000;
    box-shadow: 0px 16px 50px 15px #f7d4d4;
    justify-content: center;
    align-items: center;
  }
  .hero{
    padding: 0 1%;
  }
}