$text-color: #4f5665;
$primary-color: #f53838;
$heading-color: #0b132a;
$gray-color: #dde0e4;
$font-color: #ffecec;
$background-color: #f8f8f8;
$green-color: #2fab73;
$dark-color: #0b132a;
$yellow-color: #fea250;